body{
    background-color: bisque;
}

div{
    margin:auto auto;
    border: 10px 10px;
    padding: 10px 10px solid;
  
   
}
.article{
    margin:auto auto;

}
.container{
     font-style:italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(177, 245, 211);
    

}
.card{
    padding: 10px 10px;
    background-color: lightcyan;
    border-radius: 80px;


}
.class{
    text-shadow: 50px;
}
.col-md-6{

    background-color: rebeccapurple;

}
